html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    min-height: 100vh;
  background-color: #111;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bc-loading{
  height: 13px;
  width: 16px;
  margin: 0 5px;
  background: grey;
  display: inline-block;
  animation: bc .5s infinite linear alternate-reverse;
}
@keyframes bc{
  0%{ 
    transform: translateX(0px) skewX(0deg); 
  }
  50%, 100%{ 
    transform: translateX(4px) skewX(-30deg); 
  }
}


.css-zk88xw-singleValue{
  width: 100%;
}
.css-1qcld3k-ValueContainer, .miniplayer{
  height: 40px;
}
.miniplayer{
  border: 0;
  width: 376px;
  height: var(--img-size);
}

.css-1qcld3k-ValueContainer, .miniplayer{
  height: var(--img-size);
}
.css-zk88xw-singleValue{
  width: 100%;
  position: relative;
  height: 100%;
}

.player-container{
  --img-size: 40px;
  --height: 40px;
  display: flex;
}
.album-placeholder{
  display: inline-block;
  width: var(--img-size);
  margin-right: 5px;
}
.mini-thumbnail{
  width: var(--img-size);
  height: var(--img-size);
}
.miniplayer{
  border: 0;
  height: calc(var(--height) + 2px);
  width: calc(100% + 2px);
  position: relative;
  left: -1px;
  
}